*{
    font-family: 'Mulish', sans-serif;
}

header{
    background: linear-gradient(to right, rgb(122, 159, 253), rgb(29, 14, 147));
}


aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weatherfivedays::before{
    content: "🌡";
}

.hide{
    display: none;
}

.show{
    display: inline-block;
}

img{
    width: 3rem;
    color: azure;
    filter: invert(100%);
        -webkit-filter: invert(100%);
}
.recentcitysearch:hover{

    background-color: rgb(61, 61, 61);
    
}